/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    html {
        @apply border-8 sm:border-blue md:border-purple lg:border-teal;
    }

    /*
    div, nav, header, section {
        border: 1px solid white;
    }
    */

    body {
        @apply text-copper bg-light; 
    }

    h1, h2, h3, h4  {
        @apply font-serif mb-[0.5em];
    }

    h1 {
        @apply text-3xl leading-tight;
    }
    h2 {
        @apply text-3xl tracking-tight;
    }
    h3 {
        @apply text-xl leading-tight;
    }

    h3 {
        @apply text-lg leading-tight;
    }
    h4 {
        @apply text-lg leading-tight;
    }

    p {
        @apply mb-[0.5em] leading-normal;
    }

    nav a {
        @apply tracking-wider uppercase py-2 pr-4;
    }

    

  }


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

    .tag {
        @apply text-sm inline-block p-1 uppercase tracking-wide text-stone-600;
    }

    .button  {
        @apply inline-block px-4 py-2 uppercase tracking-wide bg-copper text-light ;
    }
    
}


/* Styling the headings */
#momence-embed #momence-plugin-host-schedule h4 {
    @apply text-copper 
}    

/* Hide featured image */
#momence-embed #momence-plugin-host-schedule .jQbyba {
    display: none;
}

/* Styling the button */
#momence-embed #momence-plugin-host-schedule .momence-host_schedule-session_list-item-booked_button {
    @apply inline-block px-4 py-2 uppercase tracking-wide bg-copper text-light rounded-none ;
}

/* Hiding the author */
#momence-embed #momence-plugin-host-schedule .momence-session-teacher {
    display: none;
}

/* Hiding the word class */
#momence-embed #momence-plugin-host-schedule .momence-host_schedule-session_list-item-type {
    display: none;
}

/* Hiding the description */
#momence-embed #momence-plugin-host-schedule .momence-host_schedule-session_list-item-description {
    display: none;
}

/* Background in general */
#momence-embed #momence-plugin-host-schedule * {
    @apply bg-light text-copper font-sans font-light rounded-none border-copper ;
}

/* Boxes around arrows */
#momence-embed #momence-plugin-host-schedule .momence-arrow-button {
    @apply border-none;
}

#momence-embed #momence-plugin-host-schedule .momence-event_type_select-button {
    @apply font-serif text-2xl;
}

/* Powered by button */
#momence-embed #momence-plugin-host-schedule .momence-host_schedule-powered_by_momence {
    display: none;
}

/* Line under number at the bottom */
#momence-embed #momence-plugin-host-schedule .momence-pagination-button::after {
    @apply bg-copper;
}