<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The Yoga Studio </title>

    {% include head.html %}

</head>
<body>

<!---------Header Banner--------------->

<header class="md:absolute top-0 left-0 right-0 md:flex justify-between py-8 px-5p text-center md:text-left">
    <h2 class="mb-0 text-2xl">
        <a href="/"> The Yoga Studio </a>
    </h2>
    <nav class="py-4 md:p-0">
        <a href="/classes"> Our Classes </a>
        <a href="/schedule"> Schedule </a>
        <a href="/contact"> Contact </a>
    </nav>
</header>

<section class="bg-center bg-cover max-w-screen-3xl mx-auto px-5p"
    style="background-image: url('{{page.banner-image}}')">

    <div class="flex items-center min-h-90">
        <div>
            <hr class="border-b-0 mb-4 -ml-[5vw] w-[60%]">

            {% if page.pre-heading %}
            <h2 class="text-sm uppercase tracking-wide font-sans"> {{page.pre-heading}} </h2>
            {% endif %}

            <h1 class="mb-0 text-6xl"> {{ page.heading }} </h1>

        </div>
    </div>

</section>

  














    <script src="/main.js"></script>

</body>
</html>